# Arquivos ignorados
session.*
ido.*
\#*
%*%
*~
*.dat
projects
tramp
config.el
recentf
.\#*
smex-items
.dap-breakpoints

# Pastas ignoradas
elpa/
auto-save-list/
url/
transient/
tramp/
eshell/
.extension/
.lsp*