# Arquivos ignorados
session.*
ido.*
\#*
%*%
*~
*.dat
projects
tramp
config.el
recentf
.\#*
smex-items
.dap-breakpoints
.org-id-locations
eclipse*
.sqls.org
projectile-bookmarks.eld

# Pastas ignoradas
elpa/
auto-save-list/
url/
transient/
tramp/
eshell/
.extension/
.lsp*
straight/
workspace/